.habit-tile {
    display: grid;
    grid-template-columns: auto [content-start] 1fr;
    align-items: center;
    align-content: center;
    justify-items: left;
    gap: 0 1rem;
    min-height: 4rem;
    background-color: #333;
    padding: 0.2rem 1rem;
    border-radius: 0.5rem;

    h2 {
        font-size: 1rem;
        font-weight: 500;
        margin: 0;
    }

    form {
        grid-row: span 2;
    }

    .habit-checkbox {
        width: 2rem;
        height: 2rem;
        border-radius: 1.375rem;
    }

    .habit-checkbox-label {
        /* Hide from view, but remain in document for accessibility */
        font-size: 0;
    }

    &.completed {
        color: #aaa;
        background-color: #282828;
        
        h2 {
            text-decoration: line-through;
        }
    }

    .stats {
        grid-column-start: content-start;
    }
}
